<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <h1>A simple To-Do List</h1>
    </header>

    <main>
        <section class="section-info">
            <div>
                <form id="formTask">
                    <input type="text" id="addTask" placeholder="Add a new task" autocomplete="off" name="addTask">
                    <button type="submit" id="addTaskBtn">Add</button>
                </form>
            </div>

            <div>
                <p id="message"></p>
            </div>
            
            <div id="div-choices">
                <button id="selectAllTasks">Select All</button>
                <button id="deselectAllTasks">Deselect All</button>

                <select name="" id="tasksCategoreis">
                    <option value="default">default</option>
                </select>
            </div>
        </section>
        
        <section class="tasks-section">
            <ul>
                <!-- Adding tasks -->
            </ul>
        </section>
    </main>

    <script src="js/index.js"></script>
</body>
</html>