<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <h1>A simple To-Do List</h1>
    </header>

    <main>
        <section class="section-info">
            <div>
                <form id="formTask">
                    <input type="text" id="addTask" placeholder="Add a new task" autocomplete="off" name="addTask">
                    <button type="submit" id="addTaskBtn">Add</button>
                </form>
            </div>

            <div>
                <p id="message"></p>
            </div>
            
            <div id="div-choices">
                <button id="selectAllTasks">Select All</button>
                <button id="deselectAllTasks">Deselect All</button>

                <select name="" id="tasksCategoreis">
                    <option value="default">default</option>
                </select>
            </div>
        </section>
        
        <section class="tasks-section">
            <ul>
                <li>
                    <input type="checkbox" name="" id="checkbox1">
                    <label for="checkbox1" class="custome-checkbox">
                        <img width="25" src="icons/check_box_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="A select icon">
                    </label>
                    <label class="task-title" for="checkbox1">Go buy fruits</label>
                    <button>
                        <img width="15" src="icons/delete_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="A delete icon">
                    </button>
                </li>
                <li>
                    <input type="checkbox" name="" id="checkbox2">
                    <label for="checkbox2" class="custome-checkbox">
                        <img src="icons/check_box_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="A select icon">
                    </label>
                    <label class="task-title" for="checkbox2">Go buy vegetables</label>
                    <button>
                        <img width="15" src="icons/delete_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="A delete icon">
                    </button>
                </li>
            </ul>
        </section>
    </main>

    <script src="js/index.js"></script>
</body>
</html>